# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Archives & exports
*.xcarchive
*.ipa
*.dmg

# App bundling
*.app
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# CocoaPods (not used, but just in case)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
